/* Tablet: width <= 1000px */
@media (width <= 1000px) {
    
}

/* Mobile: width <= 767px */
@media (width <= 767px) {
    #background{
        display: none!important;
    }
    .side-bar{
        display: none!important;
    }
    .main-container{
        width: fit-content !important;
        margin: auto auto !important;
        left : 0 !important;
        margin-left: 5vw!important;
    }
}