<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documment</title>
    <link rel="stylesheet" href="../assets/styles/background.css">
    
</head>
<body>
    <div id="background">
        <div id="ball1" class="ball"></div>
        <div id="ball2" class="ball"></div>
        <div id="ball3" class="ball"></div>
        <div id="ball4" class="ball"></div>
    </div>
    <div class="sidebar">
        <!-- Thêm sidebar vào đây -->
    </div>
    <div class="main-container">
        <div id="content-container">
            <!-- Thêm nội dung vào đây -->
        </div>
    </div>


    <script src="../assets/styles/js/background.js"></script>
</body>
</html>