<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/boostrap/bootstrap.min.css">
    <script src="../assets/styles/boostrap/bootstrap.bundle.min.js"></script>
    <title></title>
    <link rel="stylesheet" href="../assets/styles/footer.css">
    <!-- <link rel="stylesheet" href="themify-icons/themify-icons.css"> -->
</head>

<body style="width: 100%;">
    <div class="social">
        <div class="social-content">
            <div class="social-container">

                <h4 class="social-h4">Tham gia #4CoresFamily trên các nền tảng mạng xã hội</h4>
    
                <p class="social-p">Hãy xem qua các sản phẩm mới của chúng tôi khi bạn tham gia 4CoresFamily.</p>
    
                <ul class="social-ul"> 
                    <li class="social-li"><a href="https://youtu.be/dQw4w9WgXcQ?si=WFxnkd-I5Z3qgAZM"><img
                                src="../assets/images/brandicon/facebook-color.svg" alt=""></a></li>
                    <li class="social-li"><a href="https://youtu.be/poa_QBvtIBA?si=xa8pRwIOgc0FUPLd"><img
                                src="../assets/images/brandicon/instagram.svg" alt=""></a></li>
                    <li class="social-li"><a href="https://youtu.be/mz3tnaCh5aQ?si=Xstbn3K3tykfvYCk"><img
                                src="../assets/images/brandicon/discord.svg" alt=""></a></li>
                    <li class="social-li"><a href="https://youtu.be/zbwJf19Z5D8?si=Pyi2iG9fhberC1va"><img
                                src="../assets/images/brandicon/tiktok.svg" alt=""></a></li>
                    <li class="social-li"><a href="https://youtu.be/PDJLvF1dUek?si=LFoy_ZQRKHBOJEKz"><img
                                src="../assets/images/brandicon/youtube.svg" alt=""></a></li>
                </ul>
    
            </div>

        </div>
        
    </div>
    <div class="footer">
        <div class="footer-container">

            <img src="../assets/images/brandicon/logo whitee.png" alt="" class="logo">
            <!-- <div class="footer container"> -->
            <div class="footer row pt-5">

                <div class="col-3 footer-content">

                    <ul class="footer-ul">

                        <li class="footer-li footer-content-title">
                            <h6><b>VỀ 4CORES</b></h6>
                        </li>

                        <li class="footer-li">
                            <table>
                                <tr>
                                    <td>Giới thiệu</td>
                                </tr>
                                <tr>
                                    <td>Tuyển dụng</td>
                                </tr>
                                <tr>
                                    <td>Liên hệ</td>
                                </tr>
                            </table>

                        </li>

                    </ul>

                </div>
                <div class="col-3 footer-content">

                    <ul class="footer-ul">

                        <li class="footer-li footer-content-title">
                            <h6><b>CHÍNH SÁCH</b></h6>
                        </li>

                        <li class="footer-li">
                            <table>
                                <tr>
                                    <td>Chính sách bảo hành</td>
                                </tr>
                                <tr>
                                    <td>Chính sách giao hàng</td>
                                </tr>
                                <tr>
                                    <td>Chính sách bảo mật</td>
                                </tr>
                            </table>

                        </li>

                    </ul>

                </div>

                <div class="col-3 footer-content">

                    <ul class="footer-ul">

                        <li class="footer-li footer-content-title">
                            <h6><b>THÔNG TIN</b></h6>
                        </li>

                        <li class="footer-li">
                            <table>
                                <tr>
                                    <td>Hệ thống cửa hàng</td>
                                </tr>
                                <tr>
                                    <td>Hướng dẫn mua hàng</td>
                                </tr>
                                <tr>
                                    <td>Hướng dẫn thanh toán</td>
                                </tr>
                                <tr>
                                    <td>Hướng dẫn trả góp</td>
                                </tr>
                                <tr>
                                    <td>Tra cứu địa chỉ bảo hành</td>
                                </tr>
                            </table>

                        </li>

                    </ul>

                </div>

                <div class="col-3 footer-content">

                    <ul class="footer-ul">

                        <li class="footer-li footer-content-title">
                            <h6><b>TỔNG ĐÀI HỖ TRỢ </b>(8:00 - 21:00)</h6>
                        </li>

                        <li class="footer-li">
                            <table>
                                <tr>
                                    <td>Mua hàng:</td>
                                    <td>1900 1234</td>
                                </tr>
                                <tr>
                                    <td>Bảo hành:</td>
                                    <td>1900 4321</td>
                                </tr>
                                <tr>
                                    <td>Khiếu nại:</td>
                                    <td>1800 1234</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Email: cskh@4corescomputer.com</td>
                                </tr>
                            </table>
                        </li>

                    </ul>

                </div>

            </div>

            <div class="footer row">

                <div class="col-4 footer-content">

                    <div class="footer-icon container">

                        <div class="row">

                            <div class="col title-icon">
                                <h6><b>ĐƠN VỊ VẬN CHUYỂN</b></h6>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col icon ship">


                                <img src="../assets/images/brandicon/Ahamove.png" alt="" class="ahamove-icon">
                                <img src="../assets/images/brandicon/ninjavan.png" alt="" class="ninjavan-icon">
                                <img src="../assets/images/brandicon/vietnampost.webp" alt="" class="vietnampost-icon">
                                <img src="../assets/images/brandicon/GHNexpress.png" alt="" class="GHNexpress-icon">

                            </div>

                        </div>

                        <div class="row">

                            <div class="col icon ship">

                                <img src="../assets/images/brandicon/SPX.png" alt="" class="SPX-icon">


                                <img src="../assets/images/brandicon/J&T.png" alt="" class="JT-icon">
                                <img src="../assets/images/brandicon/viettelpost.png" alt="" class="viettelpost-icon">
                                <img src="../assets/images/brandicon/ghtk.png" alt="" class="ghtk-icon">

                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-4 footer-content">

                    <div class="footer-icon container">

                        <div class="row">

                            <div class="col title-icon">
                                <h6><b>HÌNH THỨC THANH TOÁN</b></h6>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col icon pay">

                                <img src="../assets/images/brandicon/visa.png" alt="" class="visa-icon">
                                <img src="../assets/images/brandicon/mastercard.png" alt="" class="mastercard-icon">
                                <img src="../assets/images/brandicon/napas.webp" alt="" class="napas-icon">

                            </div>

                        </div>

                        <div class="row">

                            <div class="col icon pay">

                                <img src="../assets/images/brandicon/momo.webp" alt="" class="momo-icon">
                                <img src="../assets/images/brandicon/zalopay.png" alt="" class="zalopay-icon">
                                <img src="../assets/images/brandicon/bank.png" alt="" class="bank-icon">

                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-4 footer-content">

                    <div class="footet-icon container">

                        <div class="row">

                            <div class="col title-icon">
                                <h6><b>ĐƠN VỊ TÀI TRỢ</b></h6>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col icon sponsorship-first">

                                <img src="../assets/images/brandicon/asus.png" alt="" class="asus-icon">
                                <img src="../assets/images/brandicon/intel.png" alt="" class="intel-icon">
                                <img src="../assets/images/brandicon/amd.png" alt="" class="amd-icon">

                            </div>

                        </div>

                        <div class="row">

                            <div class="col icon sponsorship-second">

                                <img src="../assets/images/brandicon/phongvuvn.png" alt="" class="phongvu-icon">
                                <img src="../assets/images/brandicon/nvidia.png" alt="" class="nvidia-icon">
                                <img src="../assets/images/brandicon/gearvn.png" alt="" class="gearvn-icon">

                            </div>

                        </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col footer-content footer-end">
                        <p>Copyright © 2025 - All rights reserved.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>