<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/styles/headerbarWhite.css">
</head>
<body style="background-color: antiquewhite;">
    <div class="headerbar-container">
        <div class="headerbar-logo">
            <a href="../../public/index.html"><img src="../assets/images/logo/logo white.png" alt=""></a>
        </div>
    </div>
</body>
</html>