<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>White Product</title>
    <link rel="stylesheet" href="../assets/styles/boostrap/bootstrap.min.css">
    <script src="../assets/styles/boostrap/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../assets/styles/white_product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="product-container">
        <div class="product-content">
            <div class="row row-PC">
                <div class="col-5 justify-content"><img src="../assets/images/products/PC10  PC GVN Intel i5-12400F VGA RTX 4060/pc_gvn_viper_i3060_gen_13_-_3_a7538c02de68412d8a7a4c8626c1b51b_grande.webp" alt="" class="img-PC"></div>
                <div class="col-7 product-content-right">
                    <div class="row">
                        <div class="col">
                            <div class="title-PC">
                                PC Intel i3-12100F/ VGA RX 6500XT (Powered by ASUS)
                            </div>   
                        </div>
                    </div>
                    <div class="row row-rating">
                        <div class="col-4">
                            <span class="img-stars">
                                <span class="img-stars-number">4.5</span>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-full"></i>
                            </span>
                        </div>
                        <div class="col-4">
                            <span class="product-rating-evaluate">200</span>
                            <span class="span-gray span-rating">Đánh giá</span>
                        </div>
                        <div class="col-4">
                            <span class="product-rating-sold">1.5k</span>
                            <span class="span-gray span-rating">Đã bán</span>
                        </div>
                    </div>
                    <div class="row-to-margin"> 
                        <div class="row product-row">
                            <div class="col-4">
                                <span class="span-gray line-through">10.000.000đ</span>
                            </div>
                        </div>
                        <div class="row product-row row-price">
                            <div class="col-4 align-items">
                                <span class="product-price">8.950.000đ</span>
                            </div>
                            <div class="col-4 align-items">
                                <span class="product-sale">-20%</span>
                            </div>
                        </div>
                        <div class="row product-row row-btn">
                            <div class="col-4">
                                <button class="btn-buy">MUA NGAY</button>
                            </div>
                            <div class="col-4">
                                <button class="btn-more">THÊM VÀO GIỎ HÀNG</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-hr">
                <div class="col-11 col-hr">
                    <p class="product-hr-text">Central Processing Unit</p>
                    <hr class="product-hr">
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <div class="col col-product-CPU-text">  
                        <div class="product-CPU-text">
                            CPU Intel Core i5-12400F, nhân tố khuất đảo thị trường PC GAMING khi sở hữu mức giá rẻ cùng hiệu năng 
                            xuất sắc. Với 6 nhân 12 luồng, xung nhịp 2.5GHz và turbo boost lên 4.4 GHz, quả là sự lựa chọn 
                            tuyệt vời từ khả năng chơi game cho tới stream game của thế hệ vi xử lý Intel Gen 12, chính là sự 
                            nâng cấp vượt bậc so với người tiền nhiệm i5-11400F.
                        </div>
                    </div>
                </div>
                <div class="col-5 col-product-CPU-img">

                        <img src="../assets/images/products/PC10  PC GVN Intel i5-12400F VGA RTX 4060/linhkien/box_t4_i5f_12th_m35582_ang01_right_v01_1280x1280_0d8d3bea75e8441f855b246eba0b7b8a_grande.webp" alt="">

                </div>
            </div>
            <div class="row row-hr">
                <div class="col-11 col-hr">
                    <hr class="product-hr">
                    <p class="product-hr-text">Motherboard</p>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <div class="col col-product-CPU-text">  
                        <div class="product-CPU-text">
                            Bảng mạch chủ ASUS PRIME H610M-CS D4 là một lựa chọn đáng tin cậy, cung cấp nền tảng vững 
                            chắc cho hệ thống. Với thiết kế tối ưu, bảng mạch chủ này đảm bảo sự ổn định và tương thích 
                            tốt với các linh kiện khác.
                        </div>
                    </div>
                </div>
                <div class="col-5 col-product-MB-img">

                        <img src="../assets/images/products/PC10  PC GVN Intel i5-12400F VGA RTX 4060/linhkien/w800__1__ec2c156923e2400abeb67dccc0c5e44e_grande.webp  PC GVN Intel i5-12400F VGA RTX 4060/linhkien/w800__1__ec2c156923e2400abeb67dccc0c5e44e_grande.webp  PC GVN Intel i5-12400F VGA RTX 4060/linhkien/box_t4_i5f_12th_m35582_ang01_right_v01_1280x1280_0d8d3bea75e8441f855b246eba0b7b8a_grande.webp" alt="">

                </div>
            </div>
        </div>
    </div>
</body>
</html>
