<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>White Product</title>
    <link rel="stylesheet" href="../assets/styles/boostrap/bootstrap.min.css">
    <script src="../assets/styles/boostrap/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../assets/styles/white_product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/styles/navbar_white.css">
</head>

<body>
    <div class="product-container">
        <div class="navbar_container">
            <div class="container-fluid" id="navbar">
                <div class="navbar_container">
                    <nav class="navbar navbar-expand-xl">
                        <a class="navbar-brand" href="#">
                            <img src="../assets/images/logo/logo.png" alt="" id="navbar_logo">
                        </a>
                        <!-- button zoom 175%  -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbar-list">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <!-- navbar-link -->
                        <div class="collapse navbar-collapse justify-content-end" id="navbar-list">
                            <ul class="navbar-nav gap-5">
                                <li class="nav-item"><a class="nav-link" href="#" id="navbar-link">Mua sắm</a></li>
                                <li class="nav-item"><a class="nav-link" href="#" id="navbar-link">Chính sách bảo
                                        hành</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="#" id="navbar-link">Showroom</a></li>
                                <li class="nav-item"><a class="nav-link" href="#" id="navbar-link">Giỏ hàng</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbar-link"
                                        data-bs-toggle="dropdown">Xem thêm <i class="fa-solid fa-chevron-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#" id="xemthem_dropdown_item">Tablet</a></li>
                                        <li><a class="dropdown-item" href="#" id="xemthem_dropdown_item">Smartphone</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#" id="xemthem_dropdown_item">Laptop</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><input type="button" class="btn btn-primary" id="dangnhap_btn"
                                        value="Đăng nhập"></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="product-content">
            <div class="row row-PC">
                <div class="col-5 justify-content"><img
                        src="../assets/images/products/PC10  PC GVN Intel i5-12400F VGA RTX 4060/pc_gvn_viper_i3060_gen_13_-_3_a7538c02de68412d8a7a4c8626c1b51b_grande.webp"
                        alt="" class="img-PC"></div>
                <div class="col-7 product-content-right">
                    <div class="row">
                        <div class="col">
                            <div class="title-PC">
                                PC Intel i3-12100F/ VGA RX 6500XT (Powered by ASUS)
                            </div>
                        </div>
                    </div>
                    <div class="row row-rating">
                        <div class="col-3">
                            <span class="img-stars">
                                <span class="img-stars-number">4.5</span>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-full"></i>
                            </span>
                        </div>
                        <div class="col-3">
                            <span class="product-rating-evaluate">200</span>
                            <span class="span-gray span-rating">Đánh giá</span>
                        </div>
                        <div class="col-3">
                            <span class="product-rating-sold">1.5k</span>
                            <span class="span-gray span-rating">Đã bán</span>
                        </div>
                    </div>
                    <div class="row-to-margin">
                        <div class="row product-row">
                            <div class="col-4">
                                <span class="span-gray line-through">10.000.000đ</span>
                            </div>
                        </div>
                        <div class="row product-row row-price">
                            <div class="col-4 align-items">
                                <span class="product-price">8.950.000đ</span>
                            </div>
                            <div class="col-4 align-items">
                                <span class="product-sale">-20%</span>
                            </div>
                        </div>
                        <div class="row product-row row-btn">
                            <div class="col-4">
                                <button class="btn-buy">MUA NGAY</button>
                            </div>
                            <div class="col-4">
                                <button class="btn-more">THÊM VÀO GIỎ HÀNG</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-hr">
                <div class="col-11 col-hr scroll-reveal">
                    <p class="product-hr-text scroll1">Central Processing Unit</p>
                    <hr class="product-hr">
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <div class="col col-product-left-text">
                        <div class="product-left-text scroll-reveal scroll2">
                            <p>
                                CPU Intel Core i5-12400F, nhân tố khuất đảo thị trường PC GAMING khi sở hữu mức giá rẻ
                                cùng
                                hiệu năng
                                xuất sắc. Với 6 nhân 12 luồng, xung nhịp 2.5GHz và turbo boost lên 4.4 GHz, quả là sự
                                lựa
                                chọn
                                tuyệt vời từ khả năng chơi game cho tới stream game 
                                của thế hệ vi xử lý Intel Gen 12,
                                chính
                                là sự
                                nâng cấp vượt bậc so với người tiền nhiệm i5-11400F.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-5 col-product-right-img">
                    <div class="scroll-img-right">
                        <img style="width: 427px;"
                            src="../assets/images/products/PC10  PC GVN Intel i5-12400F VGA RTX 4060/linhkien/box_t4_i5f_12th_m35582_ang01_right_v01_1280x1280_0d8d3bea75e8441f855b246eba0b7b8a_grande.webp"
                            alt="">
                    </div>
                </div>
                <div class="row row-hr">
                    <div class="col-11 col-hr scroll-reveal">
                        <hr class="product-hr">
                        <p class="product-hr-text scroll3">Motherboard</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 col-product-left-img">
                        <div class="scroll-img-left">
                            <img style="width: 480px;"
                                src="../assets/images/products/PC10  PC GVN Intel i5-12400F VGA RTX 4060/linhkien/MB.webp"
                                alt="">
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="col col-product-right-text">
                            <div class="product-right-text scroll-reveal scroll4">
                                <p>
                                    Bảng mạch chủ ASUS PRIME H610M-CS D4 là một lựa chọn đáng tin cậy, cung cấp nền tảng
                                    vững
                                    chắc cho hệ thống. Với thiết kế tối ưu, bảng mạch chủ này đảm bảo sự ổn định và
                                    tương
                                    thích
                                    tốt với các linh kiện khác.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hr">
                    <div class="col-11 col-hr scroll-reveal">
                        <p class="product-hr-text scroll5">Random Access Memory</p>
                        <hr class="product-hr">
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <div class="col col-product-left-text">
                            <div class="product-left-text scroll-reveal scroll6">
                                <p>
                                    Adata XPG Spectrix D50 8GB DDR4 3200Mhz RGB White khoác lên mình giáp tản
                                    nhiệt nổi bật với màu bạc sang trọng cùng dải đèn LED RGB đầy đủ màu sắc rực
                                    rỡ chiếu sáng kết hợp với hiệu ứng rainbow khi hoạt động.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-product-right-img">
                        <div class="scroll-img-right">
                            <img style="width: 430px;"
                                src="../assets/images/products/PC10  PC GVN Intel i5-12400F VGA RTX 4060/linhkien/b353c53f9e743c3b93ad80e4848ef7a_large_dfc7e5e44dcd4c2c86e14c49b94fa99f_6977fe5a6dbc4fd9a4c1c47d77318c12_grande.webp"
                                alt="">
                        </div>
                    </div>
                </div>
                <div class="row row-hr">
                    <div class="col-11 col-hr scroll-reveal">
                        <hr class="product-hr">
                        <p class="product-hr-text scroll7">Graphics Processing Unit</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 col-product-left-img">
                        <div class="scroll-img-left">
                            <img style="width: 500px;"
                                src="../assets/images/products/PC10  PC GVN Intel i5-12400F VGA RTX 4060/linhkien/fwebp_f763561886254dc9838eb6d71feaecf3_grande-Photoroom.png"
                                alt="">
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="col col-product-right-text">
                            <div class="product-right-text scroll-reveal scroll8">
                                <p>
                                    ASUS Dual GeForce RTX 4060 V2 OC Edition 8GB GDDR6 có được vẻ ngoài gaming trước đó.
                                    Khoác lên màu đen mạnh mẽ cùng các góc cạnh được hoàn thiện một cách bắt mắt, cái
                                    tên từ
                                    ASUS sẽ làm nổi bật chiếc case nói riêng và góc gaming nói chung. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hr">
                    <div class="col-11 col-hr scroll-reveal">
                        <p class="product-hr-text scroll9">Solid State Drive</p>
                        <hr class="product-hr">
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <div class="col col-product-left-text">
                            <div class="product-left-text scroll-reveal scroll10">
                                <p>
                                    Nhằm tối ưu khả năng lưu và làm việc trên máy tính để bàn PC GVN Intel i5-12400F/
                                    VGA
                                    RTX
                                    4060,
                                    GEARVN đã trang bị thêm cho bộ PC này bộ nhớ SSD M.2 tốc độ cao với dung lượng 500G
                                    M.2
                                    NVMe
                                    PCIe
                                    Gen4 mang đến tốc độ khởi động máy và ứng dụng chỉ trong vài giây cho trải nghiệm
                                    thú vị
                                    hơn
                                    rất nhiều. 
                                    Trang bị tốc độ đọc/ghi lên đến 3300/1200 MB/s, WD mang lại khả năng truyền tải dữ
                                    liệu
                                    nhanh chóng.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-product-right-img">
                        <div class="scroll-img-right">
                            <img style="width: 500px; height: 400px;"
                                src="../assets/images/products/PC10  PC GVN Intel i5-12400F VGA RTX 4060/linhkien/2388_cd4d84551922555986ca587b4522f8f1_40f78090bec246f1a90f2f0da44aa691_11929657a68f4f7a8a503c49e7f3df69_grande.webp"
                                alt="">
                        </div>
                    </div>
                </div>
                <div class="row row-hr">
                    <div class="col-11 col-hr scroll-reveal">
                        <hr class="product-hr">
                        <p class="product-hr-text scroll11">Full case bạch nguyệt tam nhãn quang</p>
                        <hr class="product-hr">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="full-form-img-PC">
                            <img style="width: 1103;"
                                src="../assets/images/products/PC10  PC GVN Intel i5-12400F VGA RTX 4060/pc_gvn_viper_i3060_gen_13_-_1_339a46ba9fa1464886dc8ba8af495d1f_grande.webp"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>