.main-container{
    left : 20% !important;
}
@font-face {
    font-family: 'Inter-semibold';
    src: url(../fonts/Inter/static/Inter_24pt-SemiBold.ttf);
}
@font-face {
    font-family: 'Inter-light';
    src: url(../../assets/fonts/Inter/static/Inter_18pt-Light.ttf);
}
@font-face {
    font-family: 'Inter-regular';
    src: url(../../assets/fonts/Inter/static/Inter_18pt-Regular.ttf);
}
@font-face {
    font-family: 'Inter-medium';
    src: url(../../assets/fonts/Inter/static/Inter_18pt-Medium.ttf);
}

.title6{
    font-family: 'Inter-semibold';
    font-style: bold;

}
.title3{
    font-family: 'Inter-light';
    font-style: bold;
    color : black !important;
    font-weight: 100    ;
}
.title4{
    font-family: 'Inter-regular';
    font-style: bold;
    color : black !important;
    font-weight: 100;
}
.title5{
    font-family: 'Inter-medium';
    font-style: bold;
    color : black !important;
    font-weight: 100;
}
#content-container{
    background-color: white !important;
    width: 750px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    height: 100% !important; 
    position: relative !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 0px !important;
}
#content-container::-webkit-scrollbar{
    width: 6px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    position: absolute;
    margin-right: 10px;
}
#content-container::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 20px;
    border-top-right-radius: 100px;
    border-bottom: 30px;

}
#content-container::-webkit-scrollbar-thumb{
    background-color: #B02B19;
    transition: background-color 0.3s ease;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}


.gift-code__desc {
    width: 700px;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap : 20px;

}
.gift-code__header{
    display : flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 40px;
}
.gift-code__header h1{
    padding-bottom:  5px;
}
.gift-code__header h3{
    padding-bottom: 20px;
}
.gift-code__header input{
    width: 545px;
    height: 40px;
    background-color: #e1e4e7;
    border : none;
    padding-left: 20px;
    border-radius: 10px;
}

.gift-code__header input::placeholder{
    font-family: 'Inter-regular';
}
.gift-code__header input:focus{
    outline: none;
    border: 1px solid #B02B19;
    background-color: white;
    transition: all 0.3s ease-in-out;
}
.gift-code__header button{
    margin-left: 10px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #B02B19;
    background-color: #B02B19;
    color : white;
    font-family: 'Inter-medium';
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.gift-code__header button:hover{
    background-color: #ffffff;
    border: #B02B19 1px solid;
    color: #B02B19;
}
 

.gift-code-item{
    position: relative;
}
.gift-code-info{
    position: absolute;
    top: 0.7rem;
    left: 5.5rem;
    text-align: left;
}
.gift-code-title{
    font-family: 'Inter-semibold';
    font-size: 17px;
    color: #B02B19;;
}
.gift-code-subtitle{
    font-family: 'Inter-regular';
    font-size: 11px;
    margin-top: 8px;
}
.gift-code-requirement{
    font-family: 'Inter-regular';
    font-size: 10px;
    color: #B02B19;
    text-decoration: underline;
    margin-top: 8px;
}
.gift-code-time svg{
    position: absolute;
    top: 1.5px;
    left: 0px;
}
.gift-code-time{
    font-family: 'Inter-regular';
    font-size: 10px;
    color: #7E8287;
    margin-top: 8px;
    position: relative;
    padding-left: 13px;
}
.gift-code-use-btn{
    position: absolute;
    top: 2rem;
    left: 15rem;
}
.gift-code-use-btn button{
    width: 45px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #B02B19;
    color : #B02B19;
    font-family: 'Inter-medium';
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 11px;
}
.gift-code-use-btn button:hover{
    background-color: #B02B19;
    color: white;
}