*{
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display";
}


.navbar_container{
    width: 100vw;
    background-color: white;
}

.navbar_container nav{
    max-width: 1800px;
    height: 70px;
    margin: auto;
}

#navbar_logo{
    width: 200px;
    height: 60px;
}

#navbar-link {
    color: black;
    font-family: "SF Pro Display";
    margin-left: 10px ;
}


/* Ẩn mũi tên mặc định */
.dropdown-toggle::after {
    display: none !important;
}



#dangnhap_btn {
    background-color: #B02B19;
    margin-left: 10px ;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    border: none;
    color: white;
    margin-right: 30px;
    font-family: "SF Pro Display";
    font-weight: bold;
    
}

#dangnhap_btn:hover {
    background-color: white;
    color: #B02B19;
    font-family: "SF Pro Display";
}
.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    list-style: none;    
    margin-top: -5px;
}
.navbar-brand{
    margin-top: -10px;
}
.ddmn{
    margin-top: 10px!important;
    font-family: "SF Pro Display";
    background-color: #B02B19!important;
}
.ddmn li a{
    padding: 8px 16px!important;
}