#navbar_logo {
    width: 203.33px;
    height: 61px;
}
.navbar_container{
    max-width: 1800px;
    margin: auto;
}
#navbar{
    background-color: rgb(35, 32, 27);
    max-width: 1800px;
    height: 80px;
}

#dangnhap_btn{
    background-color: rgb(255,255,255); 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    border:none;  
    color:rgb(35, 32, 27);
    margin-right: 30px;
    font-family: "SF Pro Display";
    font-weight: bold; 
}

#dangnhap_btn:hover{
    background-color: rgb(35, 32, 27);
    color: rgb(255, 255, 255);
}
#navbar-link{
    color: white;
    font-family: "SF Pro Display";
}

#navbar-list{
    margin-right: 100px;
}

#xemthem_dropdown_item{
    background-color: rgb(35, 32, 27);
    color: white;
    font-family: "SF Pro Display";
}

#xemthem_dropdown_item:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(35, 32, 27);
}

 /* Ẩn mũi tên mặc định */
.dropdown-toggle::after {
    display: none !important;
}

