*{
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display";
}

.navbar_container{
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.navbar_container nav{ 
    max-width: 1800px;
    height: 70px;
    margin: auto;
}

#navbar_logo{
    width: 200px;
    height: 60px;
}

#navbar-link {
    color: rgb(35, 32,27);
    font-family: "SF Pro Display";
    margin-left: 10px ;
    font-weight: bold;
}

/* #navbar-link:hover{
    color: #E2C044;
} */

/* Ẩn mũi tên mặc định */
.dropdown-toggle::after {
    display: none !important;
}



#dangnhap_btn {
    background-color: rgb(176, 43,25);
    margin-left: 10px ;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    border: none;
    color: rgb(255, 255, 255);
    margin-right: 30px;
    font-family: "SF Pro Display";
    font-weight: bold;
    
}

#dangnhap_btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(176, 43,25);
    font-family: "SF Pro Display";
}

#collapsibleNavbar {
    background-color: rgb(255, 255, 255);
}
