@font-face {
    font-family: 'Kanit';
    src: url(../fonts/Kanit/Kanit-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Work_Sans';
    src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf) format('truetype');
}

.title {
    font-family: 'Kanit', 'Times New Roman', Times, serif;
    font-weight: 400;
}
.title1 {
    font-family: 'Kanit';   
    font-weight: 400;
}
.title2 {
    font-family: 'Work_Sans';   
    font-weight: 400;
}

.product {
    padding: 20px;
    margin: 50px;
    width: 220px;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}
.product img {
    display: block;
    margin: 20px auto 10px;
    width: 90%;
    object-fit: cover;
}
.product p {
    width: 100%;
    height: 50px;
    padding-top: 12px;
    font-size: 14px;
    margin: 0;
}
.product-body {
    margin-top: 15px;
}
.product-body-price1 {
    display: block;
    margin-bottom: 5px;
    color: #999999;
    font-size: 15px;
    text-decoration: line-through;
}
.product-body-price2 {
    color: #B02B19; 
    font-size: 24px;
}
.product-body-title {
    display: flex;
    align-items: center;
    height: 20px;
}
.product-body-discount {
    padding: 2px 5px;
    margin-left: 20px;
    border: 2px solid #B02B19;
    color: #B02B19;
    background-color: rgb(246, 199, 199);
    font-size: 12px;
    border-radius: 4px;
}
.product-footer {
    display: flex;
    align-items: center;
    width: 100%;
}
.product-footer img {
    width: 24px;
    margin: 0;
    margin-bottom: 6px;
    display: inline;
    vertical-align: middle;
}
.product-footer-title{
    width: 50px; 
    height: 50px;
    color : #FDC501;
}
.product-star{
    color: #B02B19;
    width: 62px;
    padding-right :0px;
}
.product-star p{
    width: 100%;
}
.comment{
    margin-top : 13px;
    width: 100px;
    padding-left : 0px;
    padding-right: 0px;
    font-size : 15px;
    color: #999999;
}
.end-btn{
    width: 100%;
    font-size : 15px;
    padding : 5px 0px;
    border-radius: 10px;
    background-color: #B02B19;
    color : white;
    border : none;
    border: 2px solid #B02B19;
    transition: all 0.3s ease-in-out;
}
.end-btn:hover{
    cursor: pointer;
    color : #B02B19;
    background-color: white;
    border: 2px solid #B02B19;
}
.product:hover{
    transform: translateY(-15px);
    cursor: pointer;
    
}