@font-face {
    font-family: 'Kanit';
    src: url(../fonts/Kanit/Kanit-Regular.ttf) format('truetype');
}
.slidebar{
    width: 280px;
    height: auto;
}
.slidebar-border-line{
    margin-top: 80px;
    position: absolute;
    margin-left : 280px;
    height: 550px;
    width: 2px;
    background-color: red ;
}
.slidebar-header{
    margin-top : 100px;
    height: 50px;
    margin-left : 20px;
    display : flex;
    gap : 10px;
}
.slidebar-header p{ 
    font-size : 28px;
    line-height: 55px;
}
.slidebar-header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    
}
.slidebar-header-line {
    background-color: rgb(253, 26, 26);
    height: 1px;
    width: 280px;
}
.slidebar-body{
    display: flex;
    flex-direction: column;
    
}
.icon-container {
    margin-left : 24.5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}
.icon-container img{
    width: 30px;
    height: 30px;
}
#icon-title:hover {
    background-color: #B02B19;
    width: 100%;
}
#icon-title:hover i{
    color : white !important;
} 
#icon-title:hover img {
    background-color:  #B02B19;
    color : white !important;
}
#icon-title:hover svg path{
    stroke : white;
}
#icon-title:hover p {
    color: white;
}
#icon-title p{
    margin-top : 15px;
}
#icon-title{
    gap : 10px;
    text-decoration: none;
    display: flex;
    font-size : 16px;
    text-align: center;
    color : black;
    transition: transform 0.3s ease;
    align-items: center;    
}

.title {
    font-family: 'SF Pro Display', 'Times New Roman', Times, serif;
    font-weight: 400;
}
.title1 {
    font-family: 'Kanit'    ;   
}

