.d-hide {
    display: none !important;
}

.page_transit {
    background-color: rgb(35, 32, 27);
    width: 260px;
    height: 40px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 0;
    position: absolute;
    margin-top: 185px;
    margin-left: -40px;
}

.fullform {
    display: flex;
    width: 500px;
    height: 750px;

}

.form_thongtin {
    width: 450px;
    margin-left: 100px;
    background-color: rgb(35, 32, 27);
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

#form_thongtin_content {
    margin-left: 40px;
}

#form_inputThongTinCaNhan .form-group {
    margin-bottom: 50px;
}

#form_inputThongTinCaNhan {
    margin-top: 40px;
}

#form_inputThongTinCaNhan .form-control {
    border: none;
    border-bottom: 1px solid rgb(176, 43, 25);
    width: 340px;
    color: rgb(176, 43, 25);
    background-color: rgb(35, 32, 27);
    font-size: 15px;
}

#form_inputThongTinCaNhan .form-control::placeholder {
    color: rgb(176, 43, 25);
}

#form_inputThongTinCaNhan .form-select {
    border: none;
    border-bottom: 1px solid rgb(176, 43, 25);
    width: 340px;
    color: rgb(176, 43, 25);
    background-color: rgb(35, 32, 27);
    appearance: none;
    /* Ẩn giao diện mặc định của trình duyệt */
    padding: 8px;
    font-size: 15px;
}

/* Đổi màu nền và chữ khi mở dropdown */
#form_inputThongTinCaNhan .form-select option {
    background-color: rgb(176, 43, 25);
    color: rgb(255, 255, 255);
}

#form_inputThongTinCaNhan #xuatHoaDon_checkbox {
    margin-right: 10px;
}

#form_inputThongTinCaNhan #xuatHoaDon_lbl {
    color: rgb(176, 43, 25);

}

#thongtincanhan_title {
    color: white;
    margin-top: 20px;
    color: rgb(176, 43, 25);
    font-size: 22px;
}



#tieptuc_btnThongTinCaNhan {
    width: 100%;
    height: 50px;
    margin-top: 75px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    font-weight: bold;
}



#visa_logo img {
    width: 70px;
    transition: all 0.3s ease-in-out; /* Hiệu ứng chuyển đổi mượt */
    object-fit: cover;
}

#visa_logo img:hover {
    transform: scale(1.1); /* Phóng to nhẹ khi hover */
    filter: brightness(200%);
}

#mastercard_logo img {
    width: 70px;
    object-fit: cover;
    transition: all 0.3s ease-in-out; /* Hiệu ứng chuyển đổi mượt */
}

#mastercard_logo img:hover  {
    transform: scale(1.1); /* Phóng to nhẹ khi hover */
    filter: brightness(200%);
}


#napas_log img {
    width: 70px;
    object-fit: cover;
    transition: all 0.3s ease-in-out; /* Hiệu ứng chuyển đổi mượt */
}

#napas_log img:hover {
    transform: scale(1.1); /* Phóng to nhẹ khi hover */
    filter: brightness(200%);
}


#momo_logo img {
    width: 70px;
    transition: all 0.3s ease-in-out; /* Hiệu ứng chuyển đổi mượt */
    
}

#momo_logo img:hover {
    transform: scale(1.1); /* Phóng to nhẹ khi hover */
    filter: brightness(200%);

}

#zalo_pay_logo img {
    width: 70px;
    object-fit: cover;
    transition: all 0.3s ease-in-out; /* Hiệu ứng chuyển đổi mượt */
}

#zalo_pay_logo img:hover {
    transform: scale(1.1); /* Phóng to nhẹ khi hover */
    filter: brightness(200%);
}

#tienmat_logo img {
    object-fit: cover;
    width: 80px;
    filter: brightness(50%);
    transition: all 0.3s ease-in-out; /* Hiệu ứng chuyển đổi mượt */
}
#tienmat_logo img:hover {
    transform: scale(1.1); /* Phóng to nhẹ khi hover */
    filter: brightness(100%);
}

