.page_transit {
    background-color: rgb(35, 32, 27);
    width: 260px;
    height: 40px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 0;
    position: absolute;
    margin-top: 185px;
    margin-left: -40px;
}

.fullform {
    display: flex;
    width: 500px;
    height: 750px;

}

.form_thongtin {
    width: 450px;
    margin-left: 100px;
    background-color: rgb(35, 32, 27);
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}


#form_title {
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#thongtincanhan_title {
    color: white;
    margin-top: 20px;
    color: rgb(176, 43, 25);
    font-size: 22px;
}

#chonphuongthucthanhtoan_span {
    color: rgba(255, 255, 255, 0.5);
}

#back_btn {
    display: flex;
    margin-top: 30px;
}

#back_icon {
    margin-top: 5px;
    margin-right: 10px;
}


#back_btn p {}

#form_thongtin_content {
    margin-left: 40px;
}

.form-group {
    margin-bottom: 50px;
}


#form_input {
    margin-top: 40px;
}

.ATM_icons_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


.ATM_icons_list .ATM_icons_row {
    display: flex;
    gap: 65px;
}


/* .bank_logo:hover{
      filter: brightness(0) saturate(100%) invert(33%) sepia(99%) saturate(2427%) hue-rotate(341deg) brightness(93%) contrast(94%);
} */

/* .bank_logo {
    transition: filter 0.3s ease-in-out;
    cursor: pointer;
} */

/* Hiệu ứng khi hover */
/* .bank_logo:hover,
.bank_logo.active {
    filter: brightness(0) saturate(100%) invert(33%) sepia(99%) 
            saturate(2427%) hue-rotate(341deg) brightness(93%) contrast(94%);
} */



#visa_logo {
    transition: filter 0.3s ease-in-out;
    cursor: pointer;
}

/* Hiệu ứng khi hover */
#visa_logo:hover,
#visa_logo.active {
    filter: brightness(0) saturate(100%) invert(33%) sepia(99%) 
            saturate(2427%) hue-rotate(341deg) brightness(93%) contrast(94%);
}


#mastercard_logo {
    transition: filter 0.3s ease-in-out;
    cursor: pointer;
}

/* Hiệu ứng khi hover */
#mastercard_logo:hover,
#mastercard_logo.active {
    filter: brightness(0) saturate(100%) invert(33%) sepia(99%) 
            saturate(2427%) hue-rotate(341deg) brightness(93%) contrast(94%);
}

#napas_logo {
    transition: filter 0.3s ease-in-out;
    cursor: pointer;
}

/* Hiệu ứng khi hover */
#napas_logo:hover,
#napas_logo.active {
    filter: brightness(0) saturate(100%) invert(33%) sepia(99%) 
            saturate(2427%) hue-rotate(341deg) brightness(93%) contrast(94%);
}

#momo_logo {
    transition: filter 0.3s ease-in-out;
    cursor: pointer;
}

/* Hiệu ứng khi hover */
#momo_logo:hover,
#momo_logo.active {
    filter: brightness(0) saturate(100%) invert(33%) sepia(99%) 
            saturate(2427%) hue-rotate(341deg) brightness(93%) contrast(94%);
}

#zalo_pay_logo {
    transition: filter 0.3s ease-in-out;
    cursor: pointer;
}

/* Hiệu ứng khi hover */
#zalo_pay_logo:hover,
#zalo_pay_logo.active {
    filter: brightness(0) saturate(100%) invert(33%) sepia(99%) 
            saturate(2427%) hue-rotate(341deg) brightness(93%) contrast(94%);
}

#tienmat_logo {
    transition: filter 0.3s ease-in-out;
    cursor: pointer;
}

/* Hiệu ứng khi hover */
#tienmat_logo:hover,
#tienmat_logo.active {
    filter: brightness(0) saturate(100%) invert(33%) sepia(99%) 
            saturate(2427%) hue-rotate(341deg) brightness(93%) contrast(94%);
}

#tienmat_logo {
    margin-top: 10px;
}

.form-control {
    border: none;
    border-bottom: 1px solid rgb(176, 43, 25);
    width: 340px;
    color: rgb(176, 43, 25);
    background-color: rgb(35, 32, 27);
    font-size: 15px;
}

.form-control::placeholder {
    color: rgb(176, 43, 25);
}

#guilaima_btn {
    margin-bottom: 42px;
}

#tieptuc_btn {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    font-weight: bold;
}